
.form-control{
	border-radius: 25px;
}


.formAllignment{
	margin-top: 45px;
	color: white;
	height: 500px;
	font-size: 15px;
}




.dashboard{

	/*margin : 10% 0px;*/
	color: black;
	font-size: 26px;
}

.index{
	background-color: rgba(5,4,10,0.8);
	background-blend-mode: lighten;
	color: white;
}

.card{
	background-color: rgba(5,4,10,0.8);
	color: white;

}

.r1{
	color: black;
	font-style: bold;
	width: 100%;
}

.c1{
	background-blend-mode: lighten;
	background-color: rgba(255,255,255,0.3);
	margin-left: -10px;
}

.i2{
	background-color: rgba(5,4,10,0.8);
	background-blend-mode: lighten;
	color: white;
	width: 1200px;
	margin-left: -25px;
	float: center;
}
	
.card{

	margin-top: -40px;
	width: 245px;
	height: 300px;

}
