body
{
	background-image: url("assets\img\7.jpg");
	background-repeat: no-repeat;
}
.form-control{
	border-radius: 25px;
}


.formAllignment{
	margin-top: 45px;
}




.dashboard{

	margin : 25% 0px;
}