
.form-control{
	border-radius: 25px;
}


.formAllignment{
	margin-top: 45px;
}




.dashboard{

	margin : 10% 0px;
	color: black;
	font-size: 26px;
}

.index{
	background-color: rgba(5,4,10,0.8);
	background-blend-mode: lighten;
	color: gray;
}

.card{
	background-color: rgba(10,3,255,0.5);
	color: white;

}

.r1{
	color: black;
	font-style: bold;
}